@import "tailwindcss";

html, body {
    background-image: url(./assets/deadlockbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    min-height: 100vh;
    max-height:100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction:column;
}

.menu {
    display: flex;
    justify-content: center;

}

.invert{
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: .8;
}

.highlight{
    font-weight:700;
}

@font-face {
    font-family: Forevs;
    font-style: normal;
    src: url('./fonts/ForevsBoldItalic.otf') format("otf"),


         
 
}

@theme {
  --font-display: 'Forevs', "ForevsBoldItalic";
}

.fonter {
    font-family: var(url('./fonts/ForevsBoldItalic.otf'));
}

