@import "tailwindcss";

html, body {
    background-image: url(./assets/deadlockbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    min-height: 100vh;
    max-height:100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction:column;
}

.menu {
    display: flex;
    justify-content: center;

}